body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

.box {
    display: flex;
    justify-content: space-between;
}

.d-none {
    display: none !important;
}

.logo-box {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 20%;
    background-color: #27355D;
}

.logo-box img {
    height: 150px;
    margin: 8px;
}

.question-greet {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-btn {
    display: flex;
    align-items: center;
    background-color: #FF4E0F;
    border-radius: 10px;
    padding: 8px;
    color: white;
    text-decoration: none;
    font-size: 32px;
}

.start-btn:hover {
    background-color: #F4A648;
    cursor: pointer;
}

.bg1 {
    background-image: url(img/brain.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.bg2 {
    background-color: #F7F7F7;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.question {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 18px;
    padding: 8px;
}

.center-box-question {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.progress-bar {
    width: 60%;
    height: 20px;
    border-radius: 20px;
    background-color: grey;
}

.progress-percent {
    width: 0%;
    background-color: #173CE8;
    border-radius: 20px;
    color: white;
}

.answer {
    display: flex;
    justify-content: normal;
    align-items: center;
    background-color: #FFFFFF;
    color: black;
    text-decoration: none;
    width: 80%;
    height: 20%;
    font-size: 18px;
    border: none;
    margin: 8px;
}

.answer:hover {
    cursor: pointer;
    background-color: rgb(241, 243, 244);
}

.answer-letter {
    background-color: #D6D6D6;
    color: black;
    text-decoration: none;
    margin: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
}

.letter-box {
    width: 18px;
    height: 18px;
}


.answer-option {
    font-weight: bolder;
    font-size: 18px;
    margin: 8px;
}

.question-status {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.next-btn {
    background-color: #173CE8;
    border-radius: 10px;
    padding: 8px;
    margin: 8px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 8px;
    padding-right: 8px;
}

.center-box-finish {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.finish-logo {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.right-questions {
    color: #4EBF18;
}

.share-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #173CE8;
    border-radius: 10px;
    padding: 8px;
    color: white;
    font-size: 32px;
    text-decoration: none;
    margin: 8px;
}

.replay-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #173CE8;
    border-radius: 10px;
    padding: 8px;
    color: white;
    font-size: 32px;
    text-decoration: none;
    margin: 8px;
}

@media(max-width: 500px) {
    .box {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .question-greet {
        font-size: 16px;
        margin: 8px;
        display: flex;
        justify-content: flex-start;
    }

    .start-btn {
        font-size: 16px;
    }

    .logo-box {
        display: flex;
        height: 30%;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #27355D;
    }

    .logo-box img {
        width: 100px;
        object-fit: contain;
    }

    .bg1 {
        text-align: center;
    }

    .bg2 {
        background-color: #F7F7F7;
        height: 100vh;
        position: absolute;
        top: 0;
    }

    .question {
        font-size: 16px;
        text-align: center;
    }

    .answer-letter {
        font-size: 14px;
        margin: 8px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 4px;
        padding-bottom: 4px;

    }

    .answer-option {
        font-size: 16px;
        margin: 8px;
    }

    .next-btn {
        font-size: 16px;
    }

    .center-box-question {
        margin-top: 8px;
    }

    .question-status {
        flex-direction: column;
        align-items: center;
    }


    .finish-logo {
        display: none;
    }

    .center-box-finish {
        text-align: center;
        font-size: 16px;
        margin: 8px;
    }
}